

.banner{
    height: 15vh ;
    width: 100vw ;
    box-shadow: 0 2px 10px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.title-wrapper{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
    grid-column: 1;
    grid-row: 1;
}

.desription-wrapper{
    font-family: Georgia, 'Times New Roman', Times, serif;
    grid-column: 1;
    grid-row: 2;
    text-align: end;
}

.navigation-wrapper{
    grid-row: 2;
    grid-column: 2;
}